<h1>Lista de deseados</h1>
@if (productoEnDeseados.length === 0) {
  <div>
    <p>No hay deseados en tu lista de deseados</p>
  </div>
}

<div class="card-container" align="center">
  @for (item of productoEnDeseados; track item; let i = $index) {
    <div class="card">
      <img [src]="item.producto.imagen" alt="{{item.producto.nombre}}" class="product-image">
      <h2>{{item.producto.nombre}}</h2>
      <p>{{item.producto.descripcion}}</p>
      <p>Precio:{{item.producto.precio}}</p>
      <button type="button" class="css-button css-button-sliding-to-top css-button-sliding-to-top--green" style="width: 50%; height: 100%;" (click)="agregarC(item.producto)">
        <img src="./asset/carrito.png" alt="" style="width: 35px; height: 35px;">
      </button>

      <button type="button" class="css-button css-button-sliding-to-top css-button-sliding-to-top--rose" style="width: 50%; height: 100%;" (click)="eliminarProducto(item.producto.id)"> 
              <img src="./asset/Rfav.png" alt="" style="height: 35px; width: 35px;">
      </button>

    </div>
  }
</div>

