<div style="text-align: center;">
  <h1>Lista de deseados</h1>
  <br>
  <div>
    @if (productoEnDeseados.length === 0) {
      <p>No hay deseados en tu lista de deseados</p>
    }
  </div>
</div>

<div class="card-container" align="center">
  @for (item of productoEnDeseados; track item; let i = $index) {
    <div class="card">
      <img [src]="item.producto.imagen" alt="{{item.producto.nombre}}" class="product-image">
      <h2>{{item.producto.nombre}}</h2>
      <p>{{item.producto.descripcion}}</p>
      <p>Precio:{{item.producto.precio}}</p>
      <div class="btn-container">
        <button type="button" class="css-button css-button-sliding-to-top css-button-sliding-to-top--green" style="width: 50%; height: 100%;" (click)="agregarC(item.producto)">
          <img src="./asset/UI/carrito.png" alt="" style="width: 35px; height: 35px;">
        </button>
  
        <button type="button" class="css-button css-button-sliding-to-top css-button-sliding-to-top--rose" style="width: 50%; height: 100%;" (click)="eliminarProducto(item.producto.id)"> 
                <img src="./asset/UI/Rfav.png" alt="" style="height: 35px; width: 35px;">
        </button>
      </div>

    </div>
  }
</div>

