<div align="center">
<div id="carouselExampleIndicators" class="carousel slide" style="width: 500px; height: 500px;" align="center">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="./asset/Otros/f1.jpg" class="d-block w-100" alt="...">Flores 1
    </div>
    <div class="carousel-item">
      <img src="./asset/Otros/f2.jpg" class="d-block w-100" alt="...">Flores 2
    </div>
    <div class="carousel-item">
      <img src="./asset/Otros/f3.avif" class="d-block w-100" alt="...">Flores 3
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>


<div class="card mb-3" style="max-width: 540px; background-color: rgb(2, 99, 179);">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="./asset/UI/dog-dance.gif" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Perro que baila</h5>
        <p class="card-text">Mirenlo</p>
        <p class="card-text"><small class="text-body-secondary">Baila</small></p>
      </div>
    </div>
  </div>
</div>


</div>  

