<!-- From Uiverse.io by nathann09 --> 
<div style="display: flex; justify-content: center;">
    <form class="form">
       <p class="form-title">¡Inicia sesión con tu cuenta!</p>
        <div class="input-container">
          <input type="email" placeholder="Ingresar Correo">
          <span>
          </span>
      </div>
      <div class="input-container">
          <input type="password" placeholder="Ingresar Contraseña">
        </div>
         <button type="submit" class="submit">
        Iniciar Sesión
      </button>

      <p class="signup-link">
        ¿No tenés cuenta?
        <a href="">Registrate</a>
      </p>
   </form>
</div>