<nav class="navbar navbar-light bg-light navbar-expand-md justify-content-between ">
    <div class="container-fluid">
        <div class="collapse navbar-collapse mf" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 lista">
                <li class="nav-item" >
                    <a class="nav-link" routerLink="/inicio">
                        <strong>Inicio</strong>
                    </a>
                </li>
                <li class="nav-item" >
                    <a class="nav-link" routerLink="/productos">
                        <strong>Productos</strong>
                    </a>
                </li>
                <li class="nav-item" >
                    <a class="nav-link" routerLink="/ofertas">
                        <strong>Ofertas</strong>
                    </a>
                </li>
                <li class="nav-item" >
                    <a class="nav-link" routerLink="/contacto">
                        <strong>Contacto</strong>
                    </a>
                </li>
                <li class="nav-item" >
                    <a class="nav-link" routerLink="/quienessomos">
                        <strong>Quienes Somos?</strong>
                    </a>
                </li>
            </ul>
            <button class="nav-item btn" type="button" aria-expanded="false">
                <li style="list-style-type: none;">
                    <a class="nav-link"><img src="./asset/UI/settings.png" width="100%" height="100%"></a>
                </li>    
            </button>
            <button class="nav-item btn" type="button" aria-expanded="false" routerLink="/deseados">
                <li style="list-style-type: none;">
                    <a class="nav-link"><img src="./asset/UI/deseados.png" width="100%" height="100%"></a>
                </li>
            </button>
            <button class="nav-item btn" type="button" aria-expanded="false" routerLink="/carrito">
                <li style="list-style-type: none;">
                    <a class="nav-link"><img src="./asset/UI/carrito.png" width="100%" height="100%"></a>
                </li>
            </button>
            <button class="nav-item btn" type="button" aria-expanded="false" routerLink="/login">
                <li style="list-style-type: none;">
                        <a class="nav-link">
                            <img src="./asset/UI/user.png" width="100%" height="100%">
                        </a>
                </li>
            </button>
        </div>
    </div>
</nav>