.nav-item{
  background-color: rgb(111, 0, 255);;
  border: 3px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75px;
  height: 75px;
  list-style-type: none;
  gap: 20px;
}

.nav-link{
  align-items: center;
}

a.nav-link{
  padding: none;
}
.mf{
    font-family: 'MinaFlower';
    src: url('/./asset/MinaFlower.ttf') format('ttf');
    font-style: normal;
    font-weight: normal;
}

