  <div id="fondoQS">
  <div class="qs-container">
    
    <!-- Imagen izquierda -->
    <div class="img-group">
      <img src="asset/RA.gif" alt="Flor izquierda" class="img-side">
      <img src="asset/RR.gif" alt="Flor derecha" class="img-side">
      <img src="asset/RA.gif" alt="Flor izquierda" class="img-side">
      <img src="asset/RR.gif" alt="Flor derecha" class="img-side">
    </div>

    <!-- Contenido central -->
    <div class="qs-texto">
      <h1 class="mf">¿Quiénes somos?</h1>
       <p class="mf" style="font-size:larger;">En Facu Enterprises, creemos en el poder de las flores para transformar momentos y emociones. Somos una
                empresa dedicada a crear experiencias inolvidables a través de arreglos florales únicos, frescos y
                llenos de
                vida.
                <br>
                Nacimos del amor por la naturaleza y la belleza de los pequeños detalles. Desde nuestros inicios, nos
                hemos
                comprometido con ofrecer flores de la más alta calidad, seleccionadas cuidadosamente y diseñadas con
                pasión por
                un equipo creativo y experto.
                <br>
                Cada ramo, centro de mesa o diseño personalizado que sale de nuestro taller lleva consigo un mensaje:
                amor,
                gratitud, alegría, consuelo o celebración. Ya sea para un cumpleaños, una boda, un momento especial o
                simplemente para decir "te pienso", estamos aquí para ayudarte a expresarlo con flores.
                <br>
                Trabajamos con productores locales y sostenibles, porque creemos que lo bello también puede ser
                responsable.
                Nuestra misión es llevar flores frescas y de calidad a cada rincón, cuidando tanto el diseño como el
                planeta.
                <br>
                Facu Enterprises no solo vende flores, crea conexiones, despierta sonrisas y acompaña emociones.
            </p>
    </div>

    <!-- Imagen derecha -->
    <div class="img-group">
      <img src="asset/RR.gif" alt="Flor derecha" class="img-side">
      <img src="asset/RA.gif" alt="Flor izquierda" class="img-side">
      <img src="asset/RR.gif" alt="Flor derecha" class="img-side">
      <img src="asset/RA.gif" alt="Flor izquierda" class="img-side">
    </div>
</div>
</div>

