#fondoC{
     background-image: url("https://www.baltana.com/files/wallpapers-2/Beautiful-Flower-Wallpaper-07640.jpg"); /* Reemplaza con la ruta de tu imagen */
  background-size: cover;
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  height: 100vh; /* Asegura que el fondo ocupe toda la altura de la ventana */
  margin: 0; /* Elimina el margen predeterminado del body */
}


#ubi {
    width: 250px;
    height: 250px;
}

#conctactt{
    width: 500px;
}

.mf{
    font-family: 'MinaFlower';
    src: url('/./asset/MinaFlower.ttf') format('ttf');
    font-style: normal;
    font-weight: normal;
}
