<div id="fondoC" class="mf">

    <h1 style="text-align: center; color:white;" >Como contactarnos!</h1>

        <div style="display: flex; justify-content: center;">
            <img src="asset/pff.gif" alt="Flor derecha" class="img-side">
        </div>

        <div class="div-container" style="justify-content: center; display: flex; gap: 150px; position: relative; color: white;">
            <div style="justify-content: center;">
                <div class="col" style="bottom: -10px;">
                    <div id="ubi" class="ratio ratio-16x9">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d775.5931648516935!2d-68.05113738276884!3d-38.96115791469413!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x960a322a332875f5%3A0x9643258eb2232cf1!2sFLORER%C3%8DA%20INAUN!5e0!3m2!1ses-419!2sar!4v1753879905336!5m2!1ses-419!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                    <p>
                    <h3>Ubicación</h3><br>Bahía Blanca 565, Q8300 Neuquén<p>
                </div>
            </div>

            <div>
                <a href="">
                    <img src="./asset/UI/dog-dance.gif" alt="">
                </a>
            </div>
            <div style="display: flex; justify-content: center;">
                <div class="col">
                    <div class="card">
                        <div class="card-body">
                            <h3 class="card-title">Teléfono</h3>
                            <p class="card-text">299 140 6200</p>
                        </div>

                        <div class="card">
                            <div class="card-body">
                                <h3 class="card-title">Redes sociales</h3>
                                <a href="https://www.instagram.com/clubdeflores1/" class="btn btn-primary"
                                    style="background-color: rgb(230, 0, 255); color: black; width: 100px;">Instagram</a> <br>
                                <a href="https://www.facebook.com/inaun.floreria/?locale=es_LA" class="btn btn-primary "
                                    style="background-color: rgb(0, 30, 255); color: black; width: 100px;">Facebook</a><br>
                                <a href="https://x.com/floreria" class="btn btn-primary"
                                    style="background-color: rgb(0, 0, 0); color: white; width: 100px;">X</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
        <div style="width: 100%; height: 500px; position: relative; bottom: -100px; animation: scroll-left 10s linear infinite; " >
                <marquee behavior="alternate" loop="infinite" direction="right" width="100%" [scrollAmount]="50">
                        <img src="./asset/Otros/f5.jpg" class="img-fluid rounded-start" width="500px" height="500px" alt="...">   
                        <img src="./asset/Otros/f6.jpg" class="img-fluid rounded-start" width="500px" height="500px" alt="...">
                        <img src="./asset/Otros/f7.jpg" class="img-fluid rounded-start" width="500px" height="500px" alt="...">
                        <img src="./asset/Otros/f10.png" class="img-fluid rounded-start" width="500px" height="500px" alt="...">
                        <img src="./asset/Otros/f11.jpg" class="img-fluid rounded-start" width="500px" height="500px" alt="...">
                        <img src="./asset/Otros/f12.png" class="img-fluid rounded-start" width="500px" height="500px" alt="...">                    
                        <img src="./asset/Otros/f5.jpg" class="img-fluid rounded-start" width="500px" height="500px" alt="...">   
                        <img src="./asset/Otros/f6.jpg" class="img-fluid rounded-start" width="500px" height="500px" alt="...">
                        <img src="./asset/Otros/f7.jpg" class="img-fluid rounded-start" width="500px" height="500px" alt="...">
                        <img src="./asset/Otros/f10.png" class="img-fluid rounded-start" width="500px" height="500px" alt="...">
                        <img src="./asset/Otros/f11.jpg" class="img-fluid rounded-start" width="500px" height="500px" alt="...">
                        <img src="./asset/Otros/f12.png" class="img-fluid rounded-start" width="500px" height="500px" alt="...">
                        <img src="./asset/Otros/f5.jpg" class="img-fluid rounded-start" width="500px" height="500px" alt="...">   
                        <img src="./asset/Otros/f6.jpg" class="img-fluid rounded-start" width="500px" height="500px" alt="...">
                        <img src="./asset/Otros/f7.jpg" class="img-fluid rounded-start" width="500px" height="500px" alt="...">
                        <img src="./asset/Otros/f10.png" class="img-fluid rounded-start" width="500px" height="500px" alt="...">
                        <img src="./asset/Otros/f11.jpg" class="img-fluid rounded-start" width="500px" height="500px" alt="...">
                        <img src="./asset/Otros/f12.png" class="img-fluid rounded-start" width="500px" height="500px" alt="...">                    
                        <img src="./asset/Otros/f5.jpg" class="img-fluid rounded-start" width="500px" height="500px" alt="...">   
                        <img src="./asset/Otros/f6.jpg" class="img-fluid rounded-start" width="500px" height="500px" alt="...">
                        <img src="./asset/Otros/f7.jpg" class="img-fluid rounded-start" width="500px" height="500px" alt="...">
                        <img src="./asset/Otros/f10.png" class="img-fluid rounded-start" width="500px" height="500px" alt="...">
                        <img src="./asset/Otros/f11.jpg" class="img-fluid rounded-start" width="500px" height="500px" alt="...">
                        <img src="./asset/Otros/f12.png" class="img-fluid rounded-start" width="500px" height="500px" alt="...">
                </marquee>
            </div>   
</div>